body {
    background-color: #f7f7f7;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.todobox {
    background: #fff;
    width: 450px;
    border-radius: 6px;
    box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px;

}
.form-group {
    max-width: 85%;
    margin: auto;
    padding-top: 20px;
 
}
li {
    color: black;
    display: flex;
    justify-content: space-between;
    word-break: break-all;
    align-items: center;
    margin-bottom: 6px;
    background-color: whitesmoke;
    padding: 2px 6px;
    border-radius: 4px;
}
ul#ul_id {
    list-style: none;
    padding-left: 0;
  
}
button.cross {margin-left: 89px;}

input#inp:focus {
    border: 1px solid #959595;
    outline: 0;
}
input#inp {   
    border-radius: 2px;
    border: 2px solid  #ccc;
    width: 75%;
    padding: 10px 2px;
}
button.add {
    padding: 10px 20px;
    background-color: #28a745;
    border: none;
    border-radius: 2px;
    color: white;
    font-weight: bold;
}

button.cross {
    height: 32px;
    border: none;
    border-radius: 5px;
    background: #dddddd;
}

button.add:hover {
    background-color: black;
    transition: 0.5s;
}


.wrap-inside {
    background-color: black;
    color: white;
}